/* Add CSS Styling */
.odd {
    font-family: Verdana, DejaVu Sans, sans-serif;
    background-color: lightpink;
}
.font-size {
    font-size: 24px;
}
#even1 {
    color: blue;
    font-size: 32px;
}
#even2 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}