/* Add CSS Styling */
.black-but,
.yellow-but {
    font-size: 28px;
    font-family:  Helvetica,'Times New Roman', sans-serif;
}

.black-but {
    color: white;
    background-color: black;
}

.yellow-but {
     background-color: yellow;
}