body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 420px;
  background: #fff;
  margin: auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px;

}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 10px 20px;
  margin-left: 130px;
}